<header>
    <navbar>
        <div class='navbar'>
            <ul>
                <li class='nav-item'>
                    <a href="/notes/addNote">Add Note</a>
                </li>
                <li class='nav-item'>
                    <a href='/'>Home</a>
                </li>
            </ul>
        </div>
    </navbar>
</header>